.container-fluid
  .row
    .col-md-6.offset-md-3.col-sm-10.offset-sm-1.col-12.mt-5
      .text-center
        %h1 名言アプリ
        .small あなたの共感した名言呟きませんか？
      .border.p-md-4.p-2.border-dark
        .form-group.mt-2
          = label_tag :text, "シェアしたい名言"
          = text_area_tag :text, nil, class: 'form-control', rows: "3" ,form: "create-image", name: "sentence"
        %form.pt-2
          %p.mb-2 本を検索する
          .border.p-md-3.p-2
            .form-group
              %label{for: "exampleFormControlInput1"}本のタイトル
              %input#title.form-control{placeholder: "", type: "*"}
            .form-group
              %label{for: "exampleFormControlInput1"}著者
              %input#author.form-control{placeholder: "", type: "*"}
          %button.btn.btn-primary.mt-4{type: "button", onClick: 'loadText()'} 本を検索
        #src_rslt_container.pt-3
        #input_book_container.pt-2
      = form_tag "/meigens/new", method: "GET", id: "create-image", class: "mt-3" do
        .text-center
          = submit_tag '画像生成', class: 'btn btn-primary'
      - if user_signed_in?
        .text-center.mb-5
          = link_to "ログアウト" ,destroy_user_session_path,method: :delete
