%p 画像生成ページ！！
- if "meigen_image#{@user.id}.jpg"
  = image_tag "meigen_image/#{@user.id}.jpg"
= form_tag twitter_tweet_path, method: "GET" do
  .form-group
    = label_tag :text, "シェアしたい名言"
    = text_area_tag :text, nil, class: 'form-control', rows: "5" , name: "text"
  = submit_tag 'ツイートする', class: 'btn btn-primary'
