%p 画像生成ページ！！
- if "app/assets/images/provisional/#{@meigen.content}"
  = image_tag "provisional/#{@meigen.content}"
= form_tag twitter_tweet_path, method: "GET" do
  .form-group
    = label_tag :text, "シェアしたい名言"
    = text_area_tag :text, @twitter_card, class: 'form-control', rows: "5" , name: "text"
  = submit_tag 'ツイートする', class: 'btn btn-primary'
